/*:root{
    --main-background-color:#382d37;
    --text-color-primary:#f2f2f2;
    --text-color-secondary:rgb(112,145,41);
}*/
html,
body {
    margin: 0;
    padding: 0;
    min-height:100%;
    min-width: 100%;
    color: #f2f2f2 !important;
}

body {
    font-family: "Roboto Light", "Roboto", san-serif !important;
    background-color: #382d37 !important;
    font-size: 15px;
    position: absolute;
    
}

.bgimg {
    background-image: url("../pics/bg3.png");
    z-index: -1;
    opacity: 0.08;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;

    width: 100%;
    height: 100% !important;/*this is because body is not 100%*/
    background-repeat: no-repeat;
    background-size: cover;
}

#titleNav {
    z-index: 2;
    /* added for fixed layout: keeps titleNav on top of other elemements */
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    font-family: serif;
    color: #f2f2f2;
    height: 60px;

}

.leftNav {
    float: left;
    text-align: center;
    margin:  40px 0 0 20px;
    color: #f2f2f2;
}
.titleLeftNav{
    background-color: #3A2C35;
    border: 1px solid #dfe1e6;
    line-height: 25px;
}
.bodyLeftNav{
    background-color: #413841;
    border: 1px solid #dfe1e6;
    padding: 10px 5px;
    color: #C8C8C8;
}

#leftNav a:visited{
    color: #4CAF50;
}

#pageTitle {
    padding-top: 20px;
    padding-left: 10px;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 1.5px;
    text-align: right;
    float: left;
}

.logo {
    width: auto;
    float: left;
    height: 50px;
    margin-left: 20px;
    transition: all 400ms ease-in;
}
.logo:hover{
    transform: rotate(360deg);
}

#nav {
    margin-right: 15%;
    float: right;
    letter-spacing: 1px;
}

#nav a {
    text-decoration: none;
    color: #C8C8C8;
}

#nav div {
    /*margin-top: 3px;*/
    float: left;
    font-size: 16px;
    /*padding: 6px;*/
    padding-top: 30px;
    /*height: 33px;*/
    text-align: center;
    font-weight: bold;
}

#nav div:hover {
    background-color: white;
}

.stopFloat {
    clear: both;
}

#content {
    min-width: 920px;
    margin-top: 79px;
    /* added for fixed layout: prevent content from being hidden under titleNav */
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 30px;
}

#footer {
    position: fixed;
    bottom: 0px;
    left: 0xp;
    width: 100%;
    background-color: rgb(112,145,41);
    color: white;
    clear: both;
    text-align: center;
    font-size: 14px;
}

.width33Pct {
    width: 30%;
    float: right;
    box-sizing: border-box;
    min-width: 33%;
    transition: all 400ms ease-in;

}
.width33Pct img{
    width: 80%;;

}
.width33Pct:hover{
    transform: rotateY(180deg) translateY(20px);

}

.width66Pct {
    padding-left: 5%;
    width: 40%;
    float: left;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 10px;
}

.menu {
    /* this is a floated left div that will hold one nav link */
    font-size: 18px;
    text-align: center;
    letter-spacing: 1px;
    font-weight: bold;
    margin-left: 2px;
    margin-right: 2px;
    position: relative;
    float:left;
    padding: 1em;
    /* border: 2px solid red;
     /* for debugging */
}

.menu {
    margin-bottom: 20px;
}

.menu a {
    text-decoration: none;
}

.menu a:link,
.menu {
    color:#C8C8C8;
}

.menu a:visited {
    color: #CCCCCC;
}

.menu:hover, #nav:hover, #nav .menu a:hover, #nav div:hover a, #nav .menu .submenu a:hover {
    color: #709129;
}

.menu:hover a:visited {
    color: #709129;
}

#nav .menu .submenu,
.menu.submenu {
    margin-top: 1em;
    position: absolute;
    padding: 1em 0px 0px 0px;
    left: 0px;
    font-size: 14px;
    line-height: 22px;
    display: none;
    /*border: 2px solid green;
    /* for debugging */
    height: auto;
    width:100%;
}

.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

.logOn{
    text-align: center;   
}
.logOn button{
    background-color: #709129;
    color: #F2F2F2;
    border-color: #70918A;
}

